// colors 
$coral: #FF4343;
$brightcoral: #E71414; 
$black: #000000;
$white: #FFFFFF;
$grey:#C6CBCD;
$greydark: #6C7279;

//font-size
$_64px:4rem;
$_36px:2.25rem;
$_30px:1.875rem;
$_24px:1.5rem;
$_18px:1.125rem;
$_13px:0.8125rem;
$_14px:0.875rem;

//etc
$border: 1px solid $grey; 
