.copyright {
  padding:20px 10px;
  background-color: #2C3154;}

.copyright-text {text-align: center;
width: 370px;
margin-left: auto;
margin-right: auto;
@media (max-width:720px) {width: 300px;}
}
.copyright-text p { color:$greydark;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: capitalize;
  @media (max-width:720px){ font-size:$_14px;}
}
.copyright-name {color:$white;
  text-transform: capitalize; }