.gallery { padding:40px 0;}
.gallery-wrap { 
    display: flex;
  justify-content:space-evenly;
  flex-wrap: wrap;
  @media (max-width: 800px) { flex-wrap: wrap;}
}
  
  
  img { width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;}
 
  .card {  
    position: relative;
   text-align: center;
   max-width: 25%;
   max-height: 25%;
   border: 1px solid $white;
   @media (max-width: 800px) { max-width: 50%;
    max-height: 50%;}
    }

  .gallery-text {  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $white;
   background: rgba(255, 67, 67, 0.8);
   display: none;
   width: 100%;
   height: 100%;
   padding: 40% 10%;
}

  .gallery-text:hover {
    color: #FFFFFF;
    cursor: pointer;
    background:rgba(255, 67, 67, 0.8);
     display: block;
      }

  .card-name { @include h4 ;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.card-description { @include card}

.card:hover { 
  .gallery-text{ display: block;}
}


